on:
  workflow_call:
    inputs:
      node-version-file:
        type: "string"
        required: false
      cache-key:
        type: "string"
        default: "v1"
    secrets:
      token:
        description: GitHub token used to create release PR's
        required: true
      npm-token:
        description: NPM token used to deploy updates to the package registry
        required: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      COREPACK_INTEGRITY_KEYS: '0'

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Check version file
        if: ${{ inputs.node-version-file != '' }}
        run: echo "::warning file=.github/workflows,title=Changesets no longer supports node-version-file::Please remove this input variable"
      - name: Ensure pnpm is available
        run: echo 'pnpm' >> ~/.default-npm-packages
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          token: ${{ secrets.token }}
          persist-credentials: true
      - name: Authenticate with registry
        run: echo "//registry.npmjs.org/:_authToken=${{ secrets.npm-token }}" > ~/.npmrc
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /home/runner/.asdf
          key: asdf-${{ runner.os }}-${{ inputs.cache-key }}-${{ hashFiles('.tool-versions') }}
      - uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1

      - name: Install Dependencies
        run: pnpm install

      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          version: corepack pnpm run cs-version
          commit: 'ci(changesets): version packages'
          title: 'Release next version'
        env:
          GITHUB_TOKEN: ${{ secrets.token }}

      - name: Publish to NPM registry
        if: steps.changesets.outputs.hasChangesets == 'false'
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          version: 'true'
          publish: pnpm run cs-release
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.token }}
