on:
  workflow_call:
    inputs:
      node-version:
        type: "string"
        required: true
      system-packages:
        type: "string"
        required: false
      cache-key:
        type: "string"
        default: "v1"
      timeout-minutes:
        type: "number"
        default: 15

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      COREPACK_INTEGRITY_KEYS: '0'

    steps:
      - name: Install system requirements
        if: ${{ inputs.system-packages != '' }}
        run: sudo apt update && sudo apt install ${{ inputs.system-packages }}
      - name: Ensure pnpm is available
        run: echo 'pnpm' >> ~/.default-npm-packages
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Update tool versions with node version
        run: |-
          asdf plugin add nodejs
          INPUT='${{ inputs.node-version }}'
          VERSION=`if [[ "$INPUT" = "current" ]]; then asdf latest nodejs; else v=(${INPUT//./ }); asdf latest nodejs "${v[0]}"; fi`
          sed -i -E 's/^nodejs .*/nodejs '"${VERSION}"'/' .tool-versions
          echo '--- Updated tool versions ---'
          cat .tool-versions
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /home/runner/.asdf
          key: asdf-${{ runner.os }}-${{ inputs.cache-key }}-${{ hashFiles('.tool-versions') }}
      - uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1

      - run: pnpm install
      - run: pnpm exec turbo build
        timeout-minutes: ${{ inputs.timeout-minutes }}
      - run: pnpm exec turbo test
        timeout-minutes: ${{ inputs.timeout-minutes }}
