on:
  workflow_call:
    secrets:
      token:
        description: GitHub token used to create release PR's
        required: true

jobs:
  update:
    name: Update Renovate PR
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')

    steps:
      - name: Update PR
        uses: mscharley/dependency-changesets-action@d7294b0f2d875e1f993380af77b68162e1823d7a # v1.2.0
        with:
          token: ${{ secrets.token }}
          use-conventional-commits: true
          author-name: Renovate Changesets
          author-email: github+renovate@scharley.me
          author-dco: true
