on:
  workflow_call:
    secrets:
      token:
        description: GitHub token used to create release PR's
        required: true

jobs:
  update:
    name: Update Renovate PR
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'dependencies')

    steps:
      - name: Update PR
        uses: mscharley/dependency-changesets-action@688113f578e02cc37d62d3f5d11bb705744a802d # v1.2.1
        with:
          token: ${{ secrets.token }}
          use-conventional-commits: true
          author-name: Renovate Changesets
          author-email: github+renovate@scharley.me
          author-dco: true
