on:
  workflow_call:
    inputs:
      cache-key:
        type: "string"
        default: "v1"
      node-version-file:
        type: "string"
        required: false
      timeout-minutes:
        type: "number"
        default: 60

jobs:
  stryker:
    runs-on: ubuntu-latest
    env:
      COREPACK_INTEGRITY_KEYS: '0'

    steps:
      - name: Check version file
        if: ${{ inputs.node-version-file != '' }}
        run: echo "::warning file=.github/workflows,title=Changesets no longer supports node-version-file::Please remove this input variable"
      - name: Ensure pnpm is available
        run: echo 'pnpm' >> ~/.default-npm-packages
      - uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: /home/runner/.asdf
          key: asdf-${{ runner.os }}-${{ inputs.cache-key }}-${{ hashFiles('.tool-versions') }}
      - uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - run: pnpm install
      - run: pnpm exec turbo build
        timeout-minutes: ${{ inputs.timeout-minutes }}
      - run: pnpm exec turbo stryker
        timeout-minutes: ${{ inputs.timeout-minutes }}
